@media screen and (max-width: 960px) {
  html {
    font-size: 10px;
    overflow-x: hidden;
  }

  body,
  #container {
    overflow-x: hidden;
  }

  .navbar {
    display: none;
  }


  .fa,
  .fab {
    color: #e67e22;
    font-size: 1.4rem;
    font-weight: 600;
  }

  /* mobile navbar */
  header {
    height: 8rem;
    padding: 2rem;
    position: relative;
  }

  .logo a img {
    height: 1.6rem !important;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
  }

  .nav_link {
    font-size: 2rem;
    font-weight: 600;
  }

  .nav_link:hover,
  .nav_link:active {
    border: none;
  }

  .nav_btn {
    background-color: #e67e22;
    color: #fff;
    margin-top: 1rem;
    letter-spacing: 2.2px;
    /* margin-left: 10rem; */
    padding: .5rem 2.4rem;
    transform: 200ms;
  }

  .mobile_nav {
    display: block;
  }

  .mobile_nav_btn {
    height: 4rem;
    width: 4rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: #e67e22;
    box-shadow: inset 1px 1px #e67e22, inset -1px -1px #e67e22;
    border-radius: .5rem;
    transition: scale 200ms ease-in-out;
  }

  .mobile_nav_btn:active {
    transform: scale(1.05);
  }

  .navbar {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 500ms ease-in-out, visibility 800ms ease-in-out;

  }

  .nav-open .navbar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .mobile_nav_btn[name="close-outline"] {
    display: none;
  }

  .nav-open .mobile_nav_btn[name="menu-outline"] {
    display: none;
  }

  .nav-open .mobile_nav_btn[name="close-outline"] {
    display: block;
  }

  /* STICKY NAVIGATION */
  .sticky header {
    height: 7rem;
  }


  #index_section {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .index_content {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 0 2rem;
  }

  .index_btn_card {
    font-size: 1.2rem;
    justify-content: center;
  }

  .index_btn {
    padding: 1rem 2rem !important;
  }

  .index_text_card {
    text-align: center;
  }

  .index_text_card>h1 {
    font-size: 2.4rem;
    line-height: 1.4;
    text-align: center;
  }

  .index_text_card>p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .index_img {
    text-align: center;
  }

  .index_img img {
    width: 100% !important;
  }

  .about_content {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 4rem 2rem;
  }

  .about_heading {
    font-size: 2.4rem;
  }

  .about_typed_text {
    font-size: 1.6rem;
    margin-top: 2rem;
    padding-left: .5rem;
    padding-right: 1rem;
  } 
  .about_typed_text p {
    text-align: justify;
  }
.about_img img {
  object-fit: cover;
}
  #testimonials_section {
    margin: 2rem 0 4rem;
  }

  .testimonial_content {
    grid-template-columns: 1fr;
  }

  .testimonial_container {
    padding: 2rem;
  }

  .testimonial_heading {
    margin-bottom: 4rem;
  }

  .testimonial_heading p {
    font-size: 1.4rem;
  }

  .testimonial_heading h2 {
    font-size: 2rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .testimonial_img {
    width: 4rem;
    border-radius: 50%;
    /* margin-bottom: 1rem; */
  }

  .testimonial_typed_text p {
    font-size: 1.6rem;
  }

  #pricing_section {
    margin: 0;
    padding: 2rem;
  }

  .pricing_heading {
    padding-left: 2rem;
  }

  .pricing_heading p {
    font-size: 1.4rem;
  }

  .pricing_heading h3 {
    font-size: 2rem;
  }

  .pricing_content {
    flex-wrap: wrap;
    gap: 4rem;
  }

  .pricing_feature_content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    margin: 4rem 2rem;
  }
.pricing_card p {
text-align: center;
}

  .feature_icon {
    height: 4rem;
    width: 4rem;
  }

  .feature_sub_heading {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .feature {
      padding: 10px 40px;
    }
  .feature_type_text {
    font-size: 1.4rem;
  }

  #call_to_action_section {
    padding: 2rem;
  }

  .call_to_action_content {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
  }

  .call_to_action_heading h2 {
    font-size: 2rem;
  }

  .call_to_action_typed_text {
    font-size: 1.6rem;
    margin: 1rem 0;
    padding: 0;
  }

  .call_to_action_content .card1 {
    padding: 2rem;
  }

  .call_to_action_form_group form {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    margin-top: 2rem;
    /* padding: 2rem; */
  }

  label {
    font-size: 1.4rem;
  }

  input,
  select {
    font-size: 1.4rem;
    height: 3.5rem;
  }

  form button {
    padding: 0.5rem;
  }

  .card2 {
    height: 32rem;
    grid-row: 1;
    border-top-left-radius: 1.2rem;
    border-bottom-right-radius: 0;
  }

  #footer_section {
    margin-bottom: 4rem
  }

  .footer_content {
  padding: 4rem 2rem;
  }
.footer_content div:first-child {
  grid-template-columns:1fr;
  row-gap: 2rem;
}
.footer_content div:last-child {
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: flex-start;
}
 .footer_content h2 {
  margin-bottom: 2rem;
}
}
